---
layout: default
---

{% for post in site.posts limit:1 %}
  <article>
    <header>
      <div class="inner">
        <h1 class="h1">{% if post.episode %}#{{ post.episode }} - {% endif %}<a href="{{ post.url }}">{{ post.title }}</a></h1>
        <small>
          <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ post.date | date: site.date_format }}</time>
        </small>
      </div>
    </header>
    <section class="main">
      <div class="inner">
        {{ post.content | summarize }}
      </div>
    </section>
  </article>
{% endfor %}

