<aside>
  <section class="main">
    <div class="inner adverts">

        <a href="//kodery.com" class="advert">
            <img src="{{ site.url }}assets/img/kodery-icon.png" style="border: 1px solid black;" />
            <p>Kodery is a great way to store code you and your team use on a regular basis. Sign up for free!</p>
        </a>

        <a href="//twappp.phuu.net" class="advert">
            <img src="{{ site.url }}assets/img/twapp_logo.png" style="border: 1px solid #bbb;"/>
            <p>Cross-post from App.net to Twitter using Twapp. Use any client, post from anywhere. It's $5, just once!</p>
        </a>

        <div class="advertise_link">
            <a class="middle" href="{{ site.url }}advertise">Advertise here and on the show?</a>
        </div>

    </div>
  </section>
</aside>
