<aside>
  <section class="main">
    <div class="inner adverts">

    	<a href="//kodery.com" class="advert">
    		<img src="{{ site.base }}assets/img/kodery-icon.png" />
    		<p>Kodery is a great way to store code you and your team use on a regular basis. Sign up for free!</p>
    	</a>

    	<a href="//kodery.com" class="advert">
    		<img src="{{ site.base }}assets/img/kodery-icon.png" />
    		<p>Kodery is a great way to store code you and your team use on a regular basis. Sign up for free!</p>
    	</a>
      
    </div>
  </section>
</aside>
