---
layout: default
---
<article>
  <header>
    <div class="inner">
      <h1 class="h1">{% if page.episode %}#{{ page.episode }} - {% endif %}{{ page.title }}</h1>
      <small>
        <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: site.date_format }}</time><br>
      </small>
    </div>
  </header>
  <section class="main">
    <div class="inner">
      {{ content }}
      {% if page.mp3_src %}
        <p>
          <a href="{{ page.mp3_src }}" download="{{ page.title }}.mp3" class="btn">
            Download ({{ page.mp3_size }}, {{ page.mp3_length | replace: '.', ':' }})
          </a>
        </p>
      {% endif %}
    </div>
  </section>
</article>
